@model ClinicaNet.Models.Ticket

@{
    ViewData["Title"] = "Delete";
}

<div class="fondo-interior-app">

    <h1 class="text-shadow">ELIMINAR TICKET</h1>

    <div class="estilo-form-interior form-grande">

        <h3>¿Estás seguro de que quieres eliminar el ticket?</h3>
        <hr/>

        <dl class="row">
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Afiliado):
            </dt>
            <dd class = "col-sm-7">
                @Html.DisplayFor(model => model.Afiliado.NombreCompleto)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.FechaSolicitud):
            </dt>
            <dd class = "col-sm-7">
                @Html.DisplayFor(model => model.FechaSolicitud)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Observacion):
            </dt>
            <dd class = "col-sm-7">
                @Html.DisplayFor(model => model.Observacion)
            </dd>
        </dl>
    
        <form asp-action="Delete" class="mt-3 d-flex gap-2">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-info">Volver al panel</a>
        </form>
    </div>
</div>
