@model ClinicaNet.ViewModel.AfiliadosViewModel
                    <!-- Esta vista recibe un ViewModel (AfiliadosViewModel) con las propiedades necesarias para mostrar y filtrar afiliados -->
@{
    ViewData["Title"] = "Index";
}

<div class="fondo-interior-app">

    <h1 class="text-shadow">REGISTRO DE AFILIADOS</h1>

    <p>
        <a asp-action="Create" class="btn btn-success">Crear nuevo</a>
    </p>

    <div class="estilo-tablas text-start">

        <form asp-action="Index" method="get" class="text-black fw-bold">
            <p>
                Nombre: <input type="text" asp-for="buscarNombre" />
                Apellido: <input type="text" asp-for="buscarApellido" />
                DNI: <input type="number" asp-for="buscarDNI" />

                <input type="submit" value="Filtrar"/>
            </p>
        </form>

        <table class="table text-center">
            <thead>
                <tr>
                    <th>
                      <!-- Uso Afiliados[0] porque Afiliados es una lista en el ViewModel, por lo tanto accedo al primer elemento de la lista (del tipo Afiliado) 
                       para obtener los nombres de las columnas -->
                        @Html.DisplayNameFor(model => model.Afiliados![0].Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Afiliados![0].Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Afiliados![0].DNI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Afiliados![0].FechaNacimiento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Afiliados![0].NombreFoto)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Afiliados!)
                {<!-- Itero sobre la lista de afiliados del ViewModel para renderizar cada registro en la tabla -->
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DNI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaNacimiento)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(@item.NombreFoto))
                            {
                                <img src="~/images/fotos/@item.NombreFoto" width="60" asp-append-version="true"/>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a> 
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

 <partial name="_Paginador" for= "@Model.Paginador"></partial>